* {
  box-sizing: border-box;
}

html {
  font-family: 'Jost', sans-serif;
}

body {
  margin: 0;
}

header {
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
  padding: 0.5rem;
  background-color: #880017;
  color: white;
  text-align: center;
}

#game {
  margin: 0 auto;
  height: calc(100% - 72px);
}
section {
  width: 90%;
  max-width: 40rem;
  margin: auto;
}

.healthbar {
  width: 100%;
  height: 10px;
  border: 1px solid #dee2e6;
  margin: 1rem 0 0 0;
  background: #dee2e6;
  border-radius: 10px;
}

.healthbar__value {
  height: 100%;
  border-radius: 10px;
}

.container {
  text-align: center;
  margin: 1rem auto;
  border-radius: 12px;
}
.title {
  font-size: 16px;
}
#monster h2,
#player h2 {
  margin: 0.25rem;
}
#player .healthbar{
  rotate: 180deg
}
#controls {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-evenly;
  position: absolute;
  bottom: 30px;
}
button.btn{
  border-radius: 20px;
}
button:focus {
  outline: none;
}
button:disabled {
  background-color: #ccc;
  border-color: #ccc;
  box-shadow: none;
  color: #3f3f3f;
  cursor: not-allowed;
}

#log ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

#log li {
  margin: 0.5rem 0;
}

.log--player {
  color: #7700ff;
}

.log--monster {
  color: #da8d00;
}

.log--damage {
  color: red;
}

.log--heal {
  color: green;
}
.right-panel {
  overflow: auto;
  direction: rtl;
  height: calc(100vh - 72px);
  scrollbar-gutter: stable both-edges;
  border-left: 1px solid #dee2e6;
  background-color: #f8f9fa;
}
.start-over {
  display: flex;
  align-items: center;
  justify-content: center;
  height: calc(100vh - 150px);
}
.b-0 {
  border: none !important;
}